<ng-container>
    <div *ngIf="isNewMeetingFormActive || selectedGeneralMeeting" class="card card-body">
        <ng-container *ngTemplateOutlet="form"></ng-container>
    </div>
    <div class="ml-3">
        <button *ngIf="!isNewMeetingFormActive && !selectedGeneralMeeting && (auth.user.role === 'ADMIN' || auth.user.role === 'BOARD')"
                class="btn primary mt-3 mb-3"
                (click)="toggleNewMeetingForm()">Uus koosolek
        </button>
    </div>
    <ng-container *ngIf="generalMeetings | async as generalMeetingsResult">
        <section class="container content">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-list">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Toimumise kuupäev</th>
                        <th>Loodud</th>
                        <th>Valimised</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let application of generalMeetingsResult; let i = index;">
                        <tr>
                            <td>{{application.name}}</td>
                            <td class="no-br">{{application.date | date:'dd-MM-yyyy'}}</td>
                            <td class="no-br">{{application.createdAt | date:'dd-MM-yyyy'}}</td>
                            <td>{{application.election ? 'Jah' : ''}}</td>
                            <td>
                                <div class="btn-group float-right" role="group">
                                    <button class="btn primary"
                                            (click)="copyProtocolUrlToClipboard(application.protocolUrl)">Kopeeri
                                        protokolli URL
                                    </button>
                                    <button *ngIf="auth.user.role === 'ADMIN' || auth.user.role === 'BOARD'"
                                            class="btn btn-outline-primary" (click)="chooseGeneralMeetingToEdit(application)">
                                        Muuda
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </section>
    </ng-container>
</ng-container>

<ng-template #form>
    <form [formGroup]="newMeetingForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label parent-width">
                Koosoleku tomimumise kuupäev
                <input class="form-control" type="date" formControlName="date">
            </label>
        </div>
        <div class="form-group">
            <label class="control-label parent-width">
                Valimised
                <input class="checkbox" type="checkbox" formControlName="election">
            </label>
        </div>
        <div class="form-group">
            <label class="control-label parent-width">
                Koosoleku nimi
                <input class="form-control" formControlName="name">
            </label>
        </div>
        <div class="form-group">
            <label class="control-label parent-width">
                Protokolli url
                <input class="form-control" formControlName="protocolUrl">
            </label>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="submit" class="btn primary">Salvesta</button>
            <button type="button" class="btn btn-outline-primary" (click)="hideFrom()">Tühista</button>
        </div>
    </form>
</ng-template>
