<ng-container *ngIf="mentorProfile">
    <div class="row">
        <div class="card card-body col-md-8 col-sm-6 col-lg-8 col-xs-12">
            <form class="p-2">
                <div class="form-group">
                    <label class="control-label parent-width">Eriala
                        <input type="text" class="form-control" id="name"
                               disabled
                               name="curriculum"
                               [(ngModel)]="mentorProfile.user.curriculum"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label parent-width">Sinust
                        <textarea [(ngModel)]="mentorProfile.text" rows="8" name="text"
                                  class="form-control">
                      </textarea>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label parent-width">
                        Lemmik GIF
                        <small class="text-muted"> (URL)
                        </small>
                        <input [(ngModel)]="mentorProfile.gif"
                               name="gif"
                               class="form-control">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label parent-width">
                        Tsitaat
                        <input [(ngModel)]="mentorProfile.quote"
                               name="quote"
                               class="form-control">
                    </label>
                </div>
                <div class="form-group">
                    <app-boolean-selector label="Avalik"
                                          [isTrue]="this.mentorProfile.enabled"
                                          (setValue)="setProfileEnabledStatus($event)">
                    </app-boolean-selector>
                </div>
                <div class="form-group row pl-3">
                    <div class="btn-group">
                        <button (click)="save()" class="btn primary">Salvesta</button>
                        <button (click)="getProfile()" class="btn btn-outline-primary">Taasta</button>
                        <app-profile-pic-select
                                [mentorId]="mentorProfile.id"
                                [imageChangedEvent]="mentorProfile.picture"
                                (imageSaved)="savePicture($event)">
                        </app-profile-pic-select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6">
            <app-mentor-card *ngIf="!hasProfileBeenUpdated" [mentor]="mentorProfile">
            </app-mentor-card>
        </div>
    </div>
</ng-container>
