<p>
  my-mentor-profile works!
</p>


<div class="well col-md-8 col-sm-6 col-lg-8 col-xs-12">
  <form ng-submit="save()" class="ng-pristine ng-valid">
    <div ng-class="mentor.photo.filesize > 307200 ? 'has-error' : ''" class="form-group">
      <label class="control-label">Pilt
        <small class="text-muted"> (mitte suurem kui 300kb, eelistatud ruudu kujuline)</small>
      </label>
      <input ng-model="mentor.photo" type="file" ng-disabled="working" base-sixty-four-input="" accept="image/*" maxsize="300" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope">
    </div>
    <div class="form-group">
      <label class="control-label">Eriala
        <small class="text-muted"></small>
      </label>
      <input type="text" class="form-control" id="name"
             required
             name="curriculum"
             [(ngModel)]="myProfile.curriculum"/>
    </div>
    <div class="form-group">
      <label class="control-label">Sinust</label>
      <textarea [(ngModel)]="myProfile.text" rows="4" name="text" class="form-control ng-pristine ng-untouched ng-valid"></textarea>
    </div>

    <div class="form-group">
      <label class="control-label">Lemmik GIF
        <small class="text-muted"> (URL)</small>
      </label>
      <input [(ngModel)]="myProfile.gif" name="gif" class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="form-group">
      <label class="control-label">Tsitaat</label>
      <input [(ngModel)]="myProfile.quote" name="quote"  class="form-control ng-pristine ng-untouched ng-valid">
    </div>
    <div class="form-group">
      <label class="control-label">Avalik</label>
      <div class="btn-group">
        <button *ngIf="me" ng-class="mentor.enabled ? 'btn-primary' : 'btn-default'" ng-click="mentor.enabled = true" ng-disabled="working" type="button" class="btn btn-default">jah</button>
        <button ng-class="!mentor.enabled ? 'btn-primary' : 'btn-default'" ng-click="mentor.enabled = false" ng-disabled="working" type="button" class="btn btn-primary">ei</button>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" ng-disabled="working || mentor.photo.filesize > 307200" class="btn btn-success">Salvesta</button>
      <button type="button" ng-click="reset()" ng-disabled="working" class="btn btn-danger">Taasta</button>
    </div>
  </form>
</div>
