<ng-container *ngIf="user">
    <div class="container content">
        <div class="row justify-content-between mx-0 mb-2">
            <h2>Kasutaja info muutmine</h2>
            <button *ngIf="user.archived && !selfEditing" class="btn primary" (click)="user.archived = false">
                Aktiveeri
            </button>
            <button *ngIf="!user.archived && !selfEditing" class="btn btn-outline-primary"
                    (click)="user.archived = true">Arhiveeri
            </button>
        </div>
        <div class="card card-body">
            <div class="row">
                <div class="col">
                    <label class="font-weight-bold parent-width">Eesnimi
                        <input type="text" class="form-control" [(ngModel)]="user.firstName" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">ID kood
                        <input type="text" class="form-control" [(ngModel)]="user.personalCode" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">Õppekava
                        <input type="text" class="form-control" [(ngModel)]="user.curriculum" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">IBAN
                        <input type="text" class="form-control" [(ngModel)]="user.iban" [disabled]="!canEdit()">
                    </label>

                    <div class="mt-2 input-group">
                        <label class="font-weight-bold parent-width">Roll
                            <select [disabled]="!canChangeStatus()" (ngModelChange)="roleChanged = true" class="custom-select form-control" [(ngModel)]="user.role">
                                <option value="ADMIN">Administraator</option>
                                <option value="BOARD">Juhatuse liige</option>
                                <option value="MEMBER">Liige</option>
                            </select>
                        </label>
                    </div>
                    <label class="mt-2 font-weight-bold parent-width">
                        <app-boolean-selector label="Mentor"
                                              [isTrue]="user.mentor"
                                              (setValue)="setIsMentor($event)"
                                              [disabled]="!canChangeStatus()">
                        </app-boolean-selector>
                    </label>
                </div>



                <div class="col">
                    <label class="font-weight-bold parent-width">Perekonnanimi
                        <input type="text" class="form-control" [(ngModel)]="user.lastName" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">E-mail
                        <input type="text"
                               class="form-control" [(ngModel)]="user.email" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">Tudengikood
                        <input type="text" class="form-control" [(ngModel)]="user.studentCode" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">Uksekaardi number
                        <input type="text" class="form-control" [(ngModel)]="user.cardNumber" [disabled]="!canEdit()">
                    </label>

                    <label class="mt-2 font-weight-bold parent-width">Staatus
                        <select  [disabled]="!canChangeStatus()"
                                 class="custom-select form-control" [(ngModel)]="user.status.id">
                            <option value="1">Täisliige</option>
                            <option value="2">Noorliige</option>
                            <option value="3">Uusliige</option>
                            <option value="4">Vilistlane</option>
                            <option value="5">Juhatus</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="footer">

                <button
                        class="btn primary"
                        (click)="router.navigate(['/hub/mentors/profile/' + user.id])"
                >Mentorluse profiil
                </button>
                <!--                  TODO add ngIf mentor-->

                <div class="button-group">
                    <button class="btn btn-outline-primary mr-2" *ngIf="!selfEditing" (click)="navigateBack()">Tühista
                    </button>
                    <button class="btn primary" (click)="updateUser()">Salvesta</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
