<ng-container *ngIf="user">
  <div class="container content">
        <span>
          <h2>Kasutaja info muutmine</h2>
            <div class="card card-body">
              <div class="row">
                <div class="col">
                  <div class="md-form">
                    <label>Eesnimi</label>
                    <input type="text" class="form-control" [(ngModel)]="user.firstName">
                  </div>

                  <div class="md-form">
                    <label>ID kood</label>
                    <input type="text" class="form-control" [(ngModel)]="user.idCode">
                  </div>

                   <div class="md-form">
                    <label>Õppekava</label>
                    <input type="text" class="form-control" [(ngModel)]="user.curriculum">
                  </div>

                   <div class="md-form">
                    <label>IBAN</label>
                    <input type="text" class="form-control" [(ngModel)]="user.iban">
                  </div>
                </div>



                <div class="col">
                  <div class="md-form">
                      <label>Perekonnanimi</label>
                      <input type="text" class="form-control" [(ngModel)]="user.lastName">
                    </div>

                  <div class="md-form">
                    <label>E-mail</label>
                    <input type="text" class="form-control" [(ngModel)]="user.email">
                  </div>

                   <div class="md-form">
                    <label>Tudengikood</label>
                    <input type="text" class="form-control" [(ngModel)]="user.studentCode">
                  </div>

                   <div class="md-form">
                    <label>Uksekaardi number</label>
                    <input type="text" class="form-control" [(ngModel)]="user.cardNumber">
                  </div>
                </div>
              </div>

              <div class="md-form">
                    <label>Uksekaardi number</label>
                    <input type="text" class="form-control" [(ngModel)]="user.cardNumber">
              </div>

              <div class="md-form">
                    <label>Uksekaardi number</label>
                    <input type="text" class="form-control" [(ngModel)]="user.cardNumber">
              </div>

               <app-boolean-selector
                   [label]="'Arhiveeritud'"
                   [isTrue]="user.archived"
                   (setValue)="user.archived = $event"
               ></app-boolean-selector>

              <div class="footer">

               <button
                   class="btn primary"
                   (click)="router.navigate(['/hub/mentors/profile/' + user.id])"
               >Mentorluse profiil</button>

              <div class="button-group">
                <button class="btn btn-outline-primary" (click)="navigateBack()">Cancel</button>
                <button class="btn primary" (click)="updateUser()">Save</button>
              </div>
              </div>
            </div>
        </span>
  </div>
</ng-container>
