<ng-container *ngIf="user">
  <div class="container content">
        <span>
            <h1>{{user.name}}</h1>
            <div class="card card-body">
              <div class="md-form">
                <label>E-mail</label>
                <input type="text" class="form-control" [(ngModel)]="user.email">
              </div>

              <div class="md-form">
                <label>Telegram</label>
                <input type="text" class="form-control"  [(ngModel)]="user.telegram">
              </div>

              <app-boolean-selector
                  [label]="'Admin'"
                  [isTrue]="user.isAdmin"
                  (setValue)="user.isAdmin = $event"
              ></app-boolean-selector>

               <app-boolean-selector
                   [label]="'Mentor'"
                   [isTrue]="user.isMentor"
                   (setValue)="user.isMentor = $event"
               ></app-boolean-selector>

               <app-boolean-selector
                   [label]="'Arhiveeritud'"
                   [isTrue]="user.isArchived"
                   (setValue)="user.isArchived = $event"
               ></app-boolean-selector>

              <div>
                <button class="btn btn-outline-primary" (click)="navigateBack()">Cancel</button>
                <button class="btn btn-primary" (click)="updateUser()">Save</button>
              </div>
            </div>
        </span>
  </div>
</ng-container>
