<div class="container content">
    <h1>Sätted</h1>
    <h3>Kasutaja andmed</h3>
    <div>
        <form (ngSubmit)="submitUser()">
            <div class="form-group">
                <label class="control-label parent-width">Nimi
                    <input [(ngModel)]="user.firstName" name="name" type="text" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label class="control-label parent-width">E-mail
                    <input [(ngModel)]="user.email" name="email" type="text"
                           class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label class="control-label parent-width">Telegram
                    <input [(ngModel)]="user.telegram" name="telegram" type="text" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Salvesta</button>
                <button type="button" (click)="resetUser()" class="btn btn-danger">Taasta</button>
            </div>
        </form>
    </div>
    <h3>Muuda parooli</h3>
    <div class="well">
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()">
            <div class="form-group">
                <label class="control-label parent-width">
                    Vana parool
                    <input formControlName="oldPassword"
                           type="password"
                           class="form-control">
                </label>
            </div>
            <div class=" form-group">
                <label class="control-label parent-width">
                    Uus parool (vähemalt 8 sümbolit)
                    <input formControlName="newPassword"
                           type="password"
                           class="form-control">
                </label>

            </div>
            <div class=" form-group">
                <label class="control-label parent-width">
                    Uus parool (kinnitus)
                    <input formControlName="newPasswordConfirmation"
                           type="password"
                           class="form-control ">
                </label>
                <div *ngIf="newPasswordForm.errors?.mismatch">
                    Uus paroon ning kinnitusparool ei lange kokku
                </div>
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-success">
                    Muuda
                </button>
            </div>
        </form>
    </div>
    <h3>Aktiivsed sessioonid</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Selgitus</th>
                <th>Loodud</th>
                <th>Kustuta</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of (sessions | async)">
                <td>{{session.id}}</td>
                <td>{{session.agent}}</td>
                <td>{{session.createdAt | date:'dd-MM-yyyy'}}</td>
                <td>
                    <div class="btn btn-danger">Kustuta</div>
                </td>
                <!--                TODO only deletable if not current session-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
