<ng-container *ngIf="applications">
    <section class="container content">
        <div class="table-responsive" [formGroup]="searchForm">
            <table class="table table-striped table-hover table-list">
                <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Isikukood</th>
                    <th>E-mail</th>
                    <th>Tudengikood</th>
                    <th>Mentor</th>
                    <th>Saadetud</th>
                    <th>Staatus</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="input-sm form-control" formControlName="name" type="text" placeholder="Otsi"></td>
                    <td><input class="input-sm form-control" formControlName="personalCode" type="text"
                               placeholder="Otsi"></td>
                    <td><input class="input-sm form-control" formControlName="email" type="text" placeholder="Otsi">
                    </td>
                    <td><input class="input-sm form-control" formControlName="studentCode" type="text"
                               placeholder="Otsi"></td>
                    <td><input class="input-sm form-control" formControlName="mentor" type="text" placeholder="Otsi">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let application of applicationsToDisplay" [ngClass]="application.status ? '' : 'table-warning'">
                    <td>{{application.firstName}} {{application.lastName}}</td>
                    <td>{{application.personalCode}}</td>
                    <td>{{application.email}}</td>
                    <td>{{application.studentCode}}</td>
                    <td>
                        <ng-container
                                *ngIf="application.mentor">{{application.mentor.firstName}} {{application.mentor.lastName}}</ng-container>
                    </td>
                    <td class="no-br">{{application.createdAt | date:'dd-MM-yyyy'}}</td>
                    <td><span class="badge"
                              [ngClass]="application.status === 'ACCEPTED' ? 'badge-success' : 'badge-danger'">{{application.status}}</span>
                    </td>
                    <td><button (click)="navigateToApplication(application)" class="clickable">Ava</button></td>
                    <td><button (click)="deleteApplication(application)">X</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</ng-container>
