<ng-container *ngIf="applications | async as applicationsResult">
    <section class="container content">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-list">
                <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Isikukood</th>
                    <th>E-mail</th>
                    <th>Tudengikood</th>
                    <th>Mentor</th>
                    <th>Saadetud</th>
                    <th>Staatus</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td><input type="text" placeholder="Otsi" class="input-sm form-control"></td>
                    <td><input type="text" placeholder="Otsi" class="input-sm form-control"></td>
                    <td><input type="text" placeholder="Otsi" class="input-sm form-control"></td>
                    <td><input type="text" placeholder="Otsi" class="input-sm form-control"></td>
                    <td><input type="text" placeholder="Otsi" class="input-sm form-control"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let application of applicationsResult; let i = index;" (click)="navigateToApplication(application)">
                    <td>{{application.firstName}} {{application.lastName}}</td>
                    <td>{{application.personalCode}}</td>
                    <td>{{application.email}}</td>
                    <td>{{application.studentCode}}</td>
                    <td>
                        <ng-container *ngIf="application.mentor">{{application.mentor.firstName}} {{application.mentor.lastName}}</ng-container>
                    </td>
                    <td class="no-br">{{application.createdAt | date:'dd-MM-yyyy'}}</td>
                    <td><span class="badge badge-dark">{{application.status}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</ng-container>
