<ng-container>
    <div class="container content">
      <div class="header">
        <h1>Kasutajad</h1>
        <button (click)="generateExcel()" class="btn btn-outline-primary ml-2">Generate Excel</button>
        <input type="search" placeholder="Otsi nime, meili või õppekava järgi" (change)="updateUserList($event.target['value'])" class="input-sm form-control">
      </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nimi</th>
                    <th>E-mail</th>
                    <th>Õppekava</th>
                    <th>Liikmestaatus</th>
                    <th>Roll</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of usersToDisplay" (click)="goToUser(user.id)" class="clickable">
                        <td>{{user.id}}</td>
                        <td>{{user.firstName + ' ' + user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.curriculum}}</td>
                        <td>{{user.status.statusName}}</td>
                        <td>{{user.role | role}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
