<ng-container *ngIf="users; else spinner">
    <div class="container content">
        <h1>Kasutajad
        </h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nimi</th>
                    <th>E-mail</th>
                    <th>Telegram</th>
                    <th>Admin</th>
                    <th>Mentor</th>
                    <th>Arhiveeritud</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <td><input type="search" placeholder="Otsi nime, meili, telegrami..." [(ngModel)]="searchString"
                               class="input-sm form-control"></td>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let user of users; let i = index;" (click)="goToUser(user.id)">
                    <ng-container *ngIf="showUser(user)">
                        <td>{{i + 1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.telegram}}</td>
                        <td><span *ngIf="user.isAdmin" class="badge badge-dark">admin</span></td>
                        <td><span *ngIf="user.isMentor" class="badge badge-success">mentor</span></td>
                        <td><span *ngIf="user.isArchived" class="badge badge-danger">archived</span></td>
                    </ng-container>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
