<div>
  <button type="button" (click)="openModal()" class="btn btn-dark">Vaheta profiilipilti</button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pr-3">Valige uus profiilipilt</h4>
      <span class="btn btn-primary btn-file">
          Sirvi <input type="file" (change)="fileChangeEvent($event)">
        </span>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [imageBase64]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="800"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()">
      </image-cropper>

    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <div class="text-center">

        <button *ngIf="showRestore"
                (click)="restore()"
                type="button"
                class="btn btn-danger btn-mobile-big mr-1 pull-left"
                data-dismiss="modal">
          Taasta
        </button>
        <button *ngIf="!showRestore"
                (click)="preview()"
                type="button"
                class="btn btn-success btn-mobile-big mr-1 pull-left"
                data-dismiss="modal">
          Eelvaade
        </button>

        <button (click)="closeModal()"
                type="button"
                class="btn btn-danger btn-mobile-big mr-1"
                data-dismiss="modal">
          Tühista
        </button>
        <button (click)="save()"
                type="button"
                class="btn btn-success btn-mobile-big m-0"
                data-dismiss="modal">
          Salvesta
        </button>
      </div>
    </div>
  </ng-template>
</div>
