<ng-container *ngIf="router.url !== '/hub/auth' && router.url !== '/hub/recover' ">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" (click)="toggleNavbar()">
            Hub | ITÜK
        </a>
        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hub">Ressursid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       *ngIf="authContext.user.mentor || authContext.user.role === 'BOARD' || authContext.user.role === 'ADMIN'"
                       routerLink="/hub/mentors">Mentorid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hub/users">Kasutajad</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       *ngIf="authContext.user.role === 'ADMIN' || authContext.user.role === 'BOARD'  || authContext.user.mentor"
                       routerLink="/hub/applications">Avaldused</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       *ngIf="authContext.user.role === 'ADMIN' || authContext.user.role === 'BOARD'"
                       routerLink="/hub/door-permissions">Ukseõigused</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       *ngIf="authContext.user.role === 'ADMIN' || authContext.user.role === 'BOARD'"
                       routerLink="/hub/door-bulk-add">Ukseõiguste lisamine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hub/general-meetings">Üldkoosolekud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hub/projects">Projektid</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <div class="btn-group pull" dropdown>
                        <button dropdownToggle type="button" class="btn navbar-dark bg-light dropdown-toggle"
                                style="left: 0">
                            {{authContext.user.firstName + ' ' +  authContext.user.lastName}}<span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="menuitem">
                                <a class="dropdown-item" routerLink="/hub/settings">Sätted</a></li>
                            <li role="menuitem">
                                <a class="dropdown-item" routerLink="/hub/settings/mentor">Mentori profiil</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem">
                                <a (click)="authContext.logout()" class="dropdown-item">Log out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet class="container-fluid container">
        </router-outlet>
    </div>

    <ng-container *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </ng-container>
</ng-container>
