@import 'variables'

*
  box-sizing: border-box           /*  make padding be included in the set width  */

.parent-width
  width: 100%


.clickable
  cursor: pointer

.no-br
  white-space: nowrap


.primary
  background-color: $primary
  color: white

.primary:hover
  background-color: $primary
  color: beige

.primary:focus
  box-shadow: 0 0 0 0.2rem rgba(135, 0, 66, 0.25)
  border-color: $primary


.form-control:focus
  box-shadow: 0 0 0 0.2rem rgba(135, 0, 66, 0.25)
  border-color: $primary

.color-primary
  color: $primary

.btn-outline-primary
  color: $primary
  border-color: $primary

  &:hover
    border-color: $primary
    background-color: #c90665
