*
  box-sizing: border-box           /*  make padding be included in the set width  */

.parent-width
  width: 100%


.clickable
  cursor: pointer

.no-br
  white-space: nowrap


.btn.primary
  background-color: #870042
  color: white

.btn.primary:focus
  box-shadow: 0 0 0 0.2rem rgba(135, 0, 66, 0.25) !important
  border-color: #870042 !important

.color-primary
  color: #870042 !important


.form-control:focus
  box-shadow: 0 0 0 0.2rem rgba(135, 0, 66, 0.25) !important
  border-color: #870042 !important

