<section *ngIf="application">
    <h1>{{application.firstName}} {{application.lastName}}</h1>
    <div class="card card-body fade-in">
        <div class="row">
            <div class="col-sm">
                <p class="ng-binding"><strong>E-mail:</strong> {{application.email}}</p>
                <p class="ng-binding"><strong>Tudengikood:</strong> {{application.studentCode}}</p>
                <p><strong>Staatus:</strong>
                    <span class="label ng-binding label-primary"> {{application.status}}</span>
                </p>
                <p><strong>Mentor:</strong>
                    <ng-container
                            *ngIf="application.mentor"> {{application.mentor.firstName}} {{application.mentor.lastName}}</ng-container>
                    <ng-container *ngIf="!application.mentor"> Mentor valimata</ng-container>
                </p>
            </div>
            <div class="panel"></div>
            <div class="col-sm">
                <span class="float-right clickable" (click)="deleteApplication(application)" *ngIf="authContext.user.role === 'ADMIN' || authContext.user.role === 'BOARD'">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                     class="bi bi-trash float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </span>

            </div>
        </div>
        <div class="btn-group" *ngIf="(!application.status || application.status.toString() === 'WAITING') && (authContext.user.role === 'ADMIN' || authContext.user.role === 'BOARD')">
            <button class="btn primary" (click)="acceptApplication(application.id)">Võta vastu</button>
            <button class="btn btn-outline-primary" (click)="refuseApplication(application.id)">Lükka tagasi
            </button>
        </div>
    </div>
</section>
