<div class="main-container">
  <div class="container">
    <h2 class="text-center">Hub | ITÜK</h2>
    <div class="well well-lg">
      <form>
        <div class="form-group">
          <label class="control-label parent-width">
              E-mail
            <input type="text" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block">Saada taastamislink</button>
        </div>
      </form>
    </div>
  </div>
</div>
